<%- include("partials/header.ejs") %>

<!-- <p><%= dogs[0].id %></p> -->

<% dogs.forEach( function(i) { %>

    <%= console.log(i); %>
    <p><%= i.id %> - <%= i.name %></p>

    <% if(i.photos[0] != undefined) { %>
        <img src="<%= i.photos[0].small %>">
    <% } %>
    
    

<% }) %>

<script src="js/script.js"></script>

<%- include("partials/footer.ejs") %>
