<%- include("partials/header.ejs", authenticated, user) %>

<% dogs.forEach( function(i) { %>

    <%= console.log(i); %>
    <p><%= i.id %> - <%= i.name %></p>

    <% if(i.photos[0] != undefined) { %>
        <img src="<%= i.photos[0].medium %>">
    <% } %>
    
    

<% }) %>

<script src="js/script.js"></script>

<%- include("partials/footer.ejs") %>
